:root{
    --background:rgb(152, 123, 160);
    --big-card-1:white;
    --big-card-2:red;
    --big-card-3:blue;
    --big-card-4:green;
    --small-card-1:orange;
    --small-card-2:pink;
    --small-card-3:purple;
    --small-card-4:yellow;
    --button:brown;
    --button-focused:rgb(58, 16, 16);
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}