<div class="the-animations">
    <div class="four-cards-block">
        <div class="four-cards" data-status = "after" data-index = "0">
            <div class="big-card card"></div>
            <div class="small-card card"></div>
            <div class="big-card card"></div>
            <div class="small-card card"></div>
            <div class="big-card card"></div>
            <div class="small-card card"></div>
            <div class="small-card card"></div>
            <div class="big-card card"></div>
        </div>
        <div class="four-cards" data-status = "active" data-index = "1">
            <div class="big-card card"><img [src] = "bigCards[0].image"></div>
            <div class="small-card card"><img [src] = "smallCards[0].image"></div>
            <div class="big-card card"><img [src] = "bigCards[1].image"></div>
            <div class="small-card card"><img [src] = "smallCards[1].image"></div>
            <div class="big-card card"><img [src] = "bigCards[2].image"></div>
            <div class="small-card card"><img [src] = "smallCards[2].image"></div>
            <div class="small-card card"><img [src] = "smallCards[3].image"></div>
            <div class="big-card card"><img [src] = "bigCards[3].image"></div>
        </div>
        <div class="four-cards" data-status = "before" data-index = "2">
            <div class="big-card card"></div>
            <div class="small-card card"></div>
            <div class="big-card card"></div>
            <div class="small-card card"></div>
            <div class="big-card card"></div>
            <div class="small-card card"></div>
            <div class="small-card card"></div>
            <div class="big-card card"></div>
        </div>
        <div class="buttons">
            <div class="button">
                <button class="back fa-solid fa-arrow-right"></button>
            </div>
            <div class="button">
                <button class="next fa-solid fa-arrow-right"></button>
            </div>
        </div>
    </div>
</div>