<div class="the-animations">
    <div class="four-squares-block">
        <div class="four-squares-over">
            <div class="square" data-status="closed">
                <div class="square-card">
                    <div>text</div>
                    <div class="top-button"></div>
                    <div class="square-card-cover" data-status = "covered"></div>
                </div>
            </div>
            <div class="square" data-status="closed">
                <div class="square-card">
                    <div>text</div>
                    <div class="top-button"></div>
                    <div class="square-card-cover" data-status = "covered"></div>
                </div>
            </div>
            <div class="square" data-status="closed">
                <div class="square-card">
                    <div>text</div>
                    <div class="top-button"></div>
                    <div class="square-card-cover" data-status = "covered"></div>
                </div>
            </div>
            <div class="square" data-status="opened">
                <div class="square-card">
                    <div>text</div>
                    <div class="top-button"></div>
                    <div class="square-card-cover" data-status = "uncovered"></div>
                </div>
            </div>
        </div>
    </div>
</div>
