.the-animations{
    display: flex;
    background: var(--background);
}

.four-squares-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: var(--background);
    flex-direction: column;
}

.four-squares-over{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1.2s ease;
}

.square{
    position: absolute;
    background: white;
    border-radius: 25px;
    opacity: 0.9;
    transition: all 0.8s ease;
}

.square:nth-child(1){transform: translate(-22px, -2px) rotate(-22deg); background: blue;}
.square:nth-child(2){transform: translate(-10px, -10px) rotate(-7deg); background: white;}
.square:nth-child(3){transform: translate(10px, -2px) rotate(8deg); background: green;}
.square:nth-child(4){transform: translate(30px) rotate(24deg); background: yellow;}

.four-squares-over:hover .square:nth-child(1){transform: translate(-120px,-7px) rotate(-42deg);}
.four-squares-over:hover .square:nth-child(2){transform: translate(-47px, -24px) rotate(-18deg);}
.four-squares-over:hover .square:nth-child(3){transform: translate(40px, -10px) rotate(12deg);}
.four-squares-over:hover .square:nth-child(4){transform: translate(120px, 5px) rotate(32deg);}

.square:hover{scale: 1.15;}

.square[data-status="closed"]{
    width: 250px;
    height: 250px;
}

.square[data-status="opened"]{
    width: 100vw;
    height: 100vh;
    transform: none;
}
.four-squares-over:hover .square[data-status="opened"]{
    transform: none;
}

.four-squares-over:has(.square[data-status="opened"]) > .square[data-status="closed"]{
    opacity: 0;
}